# =========================================
# javascript ignore rules
#
# See http://help.github.com/ignore-files/ for more about ignoring files.
# =========================================

# place per-project settings here

# =========================================
# common part
# =========================================
# PRIVATE files
.env
.npmrc
.node_repl_history

# dependencies
.npm
/node_modules
/bower_components

# compiled output
/dist
/tmp
/build

# Coverage directory used by tools like istanbul
/coverage
/lib-cov

npm-debug.log*
/logs
*.log
testem.log

# =========================================
